.single-trick.add-trick {
  .media-row {
    .single-image, .single-video {
      display: none;
    }
  }

  .image-list, .video-list {
    list-style: none;
    li {
      margin: 10px 0;
    }
  }

  label[for="trick_form_mainImage"] {
    width: 50%;
  }
}