.banner.modify-trick,
.banner.single-trick {
  position: relative;

  .trick-action {
    position: absolute;
    right: 1rem;
    top: 2rem;
  }

}

.single-trick.modify-trick {

  .trick-action {
    margin-left: auto;
  }

  .new-media {
    width: 80%;
  }


  #trick-form {
    .form-group {
      width: 100%;
    }

    .submit {
      width: 100%;
    }

    div.media-row {
      width: 100%;
      flex-wrap: wrap;

      div.image-wrapper {
        display: flex;
        flex-direction: column;

      }

      .hide-input {
        display: none;
      }
    }
  }

  #video-form,
  #add-video-form {
    .form-group {
      width: 100% !important;
    }
  }

  .video-wrapper {
    @include bp(md) {
      height: 420px;
    }
    @include bp(sm) {
      height: 300px;
    }

    iframe {
      @include bp(md) {
        height: 90%;
      }
      @include bp(sm) {
        height: 80%;
      }
    }
  }
}

