.banner.single-trick {
  h1 {
    color: white;
  }
}

main.single-trick {
  #display-medias {
    display: none;
    @include bp(sm) {
      display: flex;
    }
  }

  .image-videos {
    margin: .5rem .5rem;
    display: flex;

    @include bp(sm) {
      display: none;
    }

    .single-image {
      align-self: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .single-video {
      @include bp(sm) {
        max-height: 17rem;
      }

      iframe {
        height: 121px;
        width: 100%;
      }
    }
  }

  .description {
    margin: 3rem auto;
    max-width: 80%;
    width: max-content;
  }

  .stats {
    p {
      border: solid black 1px;
      padding: .25rem;
    }
  }

  .comment-form {
    .btn {
      max-height: 3rem;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .form-group {
      flex: 1;
      @include bp(sm) {
        width: 100%;
      }
    }
  }

  .comment-list {
    .single-comment {
      display: flex;
      .user-image {
        max-width: 47px;
        border-radius: 50%;
      }

      .comment {
        border: 1px solid black;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        width: 100%;
      }

      &.above-max {
        display: none;
      }
    }
  }
}